:root{
  --slate-900: #1F314F;
  --slate-500: #68778D;
  --slate-300: #D5E1EF;
  --white: #FFFFFF;
}

*{
  box-sizing: border-box;
}

body{
  font-family: "Outfit", sans-serif;
  background-color: var(--slate-300);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main{
  width: 320px;
  border-radius: 20px;
  background-color: var(--white);
  padding: 16px;
  text-align: center;
  line-height: 1.5;

  & img{
    width: 100%;
    border-radius: 10px;
  }

  & h2{
    font-size: 22px;
    color: var(--slate-900);
  }

  & p{
    font-size: 15px;
    color: var(--slate-500);
  }
}

.attribution{
  text-align: center;
  font-size: 12px;
  color: var(--slate-500);
  
  & a{
    color: var(--slate-900);
    text-decoration: none;
  }

  & a:hover{
    text-decoration: underline;
  }
}